/* Resetting default padding, margin, and box-sizing */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; /* Using Times New Roman font */
}

/* Styling for the main wrapper */
.Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    opacity: 0.9; /* Adding opacity to the background */
    background: url("/images/wallpaper.png") no-repeat; /* Background image */
    background-size: cover; /* Covering the entire container */
}

/* Styling for the sign-in wrapper */
.SignInWarpper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    opacity: 0.9; /* Adding opacity to the background */
    background: url("/images/nighttime.webp") no-repeat; /* Background image */
    background-size: cover; /* Covering the entire container */
}

/* Styling for fieldset */
fieldset {
    padding: 1px 100px; /* Adding padding */
    border: 2px solid skyblue; /* Border style */
    border-radius: 20px; /* Rounded corners */
    background-color: rgba(29, 113, 139, 0.486); /* Background color with opacity */
}

/* Styling for login input fields */
.login input {
    margin-bottom: 5px; /* Adding space between input fields */
    border-radius: 10px; /* Rounded corners */
    width: 200px; /* Setting width */
    outline: none; /* Removing outline */
    background: transparent; /* Transparent background */
    background-color: rgb(255, 255, 255); /* Setting background color */
    padding: 10px; /* Adding padding */
    border: 2px solid black; /* Border style */
}

/* Styling for placeholder text */
input::placeholder {
    color: rgba(134, 42, 114, 0.774); /* Placeholder text color */
}

/* Styling for login labels */
.login label {
    margin-right: 20px; /* Adding space between label and input field */
    display: block; /* Displaying labels as blocks */
    color: #ffffff; /* Label text color */
    font-size: 25px; /* Label text size */
    font-weight: bold; /* Bold font weight */
}

/* Styling for login links */
.login a {
    cursor: pointer; /* Changing cursor to pointer on hover */
    display: block; /* Displaying links as blocks */
    color: rgba(255, 255, 255, 0.925); /* Link text color */
    text-align: center; /* Centering text */
    margin-bottom: 5px; /* Adding space between links */
}

/* Styling for hover effect on login links */
.login a:hover {
    color: rgb(181, 252, 234); /* Changing text color on hover */
}

/* Styling for active state on login links */
.login a:active {
    color: blue; /* Changing text color when link is active */
}

/* Styling for fieldset buttons */
fieldset button {
    width: 100px; /* Setting button width */
    height: 50px; /* Setting button height */
    border-radius: 10px; /* Rounded corners */
    outline: none; /* Removing outline */
    border: none; /* Removing border */
    color: blanchedalmond; /* Button text color */
    background-color: rgb(0, 60, 255); /* Button background color */
    margin: 5px 0px 5px 50px; /* Setting margin */
}

/* Styling for hover effect on fieldset buttons */
fieldset button:hover {
    background-color: rgb(74, 113, 241); /* Changing background color on hover */
}

/* Styling for active state on fieldset buttons */
fieldset button:active {
    color: rgb(0, 60, 255); /* Changing text color when button is active */
    background-color: blanchedalmond; /* Changing background color when button is active */
}

/* Styling for fieldset paragraphs */
fieldset p {
    text-align: center; /* Centering text */
    color: aqua; /* Paragraph text color */
}

/* Styling for fieldset headings */
fieldset h1 {
    text-align: center; /* Centering text */
    margin-bottom: 50px; /* Adding space below heading */
}
